@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Pacifico&family=Shippori+Antique&family=Zen+Kurenaido&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    color: cadetblue;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 45px;
    margin-left: 50px;
}

.Myheader {
    color: cadetblue;
    font-family: 'Shippori Antique', sans-serif;
    font-size: 23px;
    text-align: center;
    margin-top: 55px;
    margin-right: 10px;
}


.pLogin1 {
    text-align: center;
    margin-top: 30px;
    color: black;

}

.unLogin {
    text-align: center;
    margin-top: 20px;
    color: black;
}

.unLogin a {
    text-decoration: gainsboro;
    color: cadetblue;

}

.butLogin {
    font-family: 'Zen Kurenaido', sans-serif;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    color: burlywood;
    background-color: cadetblue;
    border: 2px solid burlywood;

}

.butSignup {
    font-family: 'Zen Kurenaido', sans-serif;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    color: burlywood;
    background-color: cadetblue;
    border: 2px solid burlywood;


}

.navbar-brand {
    text-align: center;
    margin-top: 20px;
    color: cadetblue;
    font-family: "Lobster"
}

body {
    background: url("./images/img17.jpg") center/cover no-repeat;
    height: 100vh;
    background-attachment: fixed;



}

.Cardfount {
    font-family: 'Zen Kurenaido', sans-serif;
    color: darkred;
    font-size: 20px;
    margin-right: 7px;
    transition: 1s;


}

.Cardfount:hover {
    background-color: cadetblue;
    transform: scale(1.1);


}

.textPro {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 35px;
    color: darkred;



}

.textPro1 {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 35px;
    color: darkred;
    text-align: center;
    margin-top: 200px;

}

.pPro {
    font-family: 'Zen Kurenaido', sans-serif;
    color: darkred;


}

.Wishlist {
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 20px;
    color: darkred;



}

.MyWishlist {
    font-family: 'Zen Kurenaido', sans-serif;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: -20px;
    color: darkred;


}

.MyWishlist2 {
    margin-left: 300px;
    color: black;




}

.emailicon {
    font-family: 'Zen Kurenaido', sans-serif;
    margin-left: 600px;
    margin-bottom: -5px;
    color: darkred;
}

.photo {
    margin-left: 150px;
    margin-top: 50px;

}


.images {
    padding-top: 70px;
    transition: 1s;

}





.images:hover {

    transform: scale(1.1);


}

.img24 {

    padding-top: 70px;
    width: 405px;
    margin-left: 10px;
    transition: 1s;
}

.img24:hover {
    transform: scale(1.1);
}


.img25 {
    width: 408px;
    margin-left: 50px;

}


.img30 {
    width: 408px;
    margin-left: 50px;
}

.img27 {
    width: 380px;
    margin-right: 20px;
}

.img22 {
    width: 380px;
}

.homediv {
    background-color: cadetblue;
    position: absolute;
    min-height: 110vh;
    width: 100%;


}

.modle {
    font-family: 'Zen Kurenaido', sans-serif;

}

.divitem {
    margin-right: 400px;
    width: 500px;
    padding-left: 100px;
}

.icon {
    background-color: wheat;
    margin-left: 225px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.bouttn {
    display: inline-block;
    background-color: darksalmon;
    padding: 5px;
    border: 2px solid gray;
    color: gray;
    margin-left: 120px;
}

.bouttn2 {
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border: 2px solid cadetblue;
    color: cadetblue;
    margin-left: 600px;
    letter-spacing: 1px;
    font-weight: 300px;
    margin-top: 30px;
    transition: 0.7s;

}

.bouttn2:hover {
    letter-spacing: 6px;
    color: blue;

}